<h1>Quản lý thú cưng</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Tên</th>
      <th>Loại</th>
      <th>Giống</th>
      <th>Trạng thái</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <% pets.forEach(pet => { %>
    <tr>
      <td><%= pet.name %></td>
      <td><%= pet.type %></td>
      <td><%= pet.breed %></td>
      <td><%= pet.status %></td>
      <td>
        <a href="/pets/<%= pet._id %>" class="btn btn-info btn-sm">Xem</a>
        <a href="/pets/<%= pet._id %>/edit" class="btn btn-warning btn-sm"
          >Sửa</a
        >
        <form
          action="/pets/<%= pet._id %>?_method=DELETE"
          method="POST"
          style="display: inline"
        >
          <button
            type="submit"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Bạn có chắc muốn xóa?')"
          >
            Xóa
          </button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<!-- Phân trang -->
<div class="d-flex justify-content-between align-items-center mt-4">
  <!-- Góc trái: Hiển thị thông tin "Hiển thị X đến Y trong Z" -->
  <div>
    <% if (totalPets > 0) { %>
    <p>Hiển thị <%= start %> đến <%= end %> trong <%= totalPets %></p>
    <% } else { %>
    <p>Chưa có thú cưng nào.</p>
    <% } %>
  </div>

  <!-- Góc phải: Mũi tên và số trang -->
  <nav>
    <ul class="pagination mb-0">
      <!-- Mũi tên "Trang trước" (xoay SVG 180 độ) -->
      <li class="page-item <%= !hasPrevPage ? 'disabled' : '' %>">
        <a class="page-link" href="/pets?page=<%= prevPage %>">
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 512 512"
            style="
              enable-background: new 0 0 512 512;
              width: 16px;
              height: 16px;
              transform: rotate(180deg);
            "
            xml:space="preserve"
          >
            <g>
              <g>
                <path
                  d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M335.083,271.083
                  L228.416,377.749c-4.16,4.16-9.621,6.251-15.083,6.251c-5.461,0-10.923-2.091-15.083-6.251c-8.341-8.341-8.341-21.824,0-30.165
                  L289.835,256l-91.584-91.584c-8.341-8.341-8.341-21.824,0-30.165s21.824-8.341,30.165,0l106.667,106.667
                  C343.424,249.259,343.424,262.741,335.083,271.083z"
                />
              </g>
            </g>
          </svg>
        </a>
      </li>

      <!-- Số trang -->
      <% for(let i = 1; i <= totalPages; i++) { %>
      <li class="page-item <%= currentPage === i ? 'active' : '' %>">
        <a class="page-link" href="/pets?page=<%= i %>"><%= i %></a>
      </li>
      <% } %>

      <!-- Mũi tên "Trang sau" -->
      <li class="page-item <%= !hasNextPage ? 'disabled' : '' %>">
        <a class="page-link" href="/pets?page=<%= nextPage %>">
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 512 512"
            style="
              enable-background: new 0 0 512 512;
              width: 16px;
              height: 16px;
            "
            xml:space="preserve"
          >
            <g>
              <g>
                <path
                  d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M335.083,271.083
                  L228.416,377.749c-4.16,4.16-9.621,6.251-15.083,6.251c-5.461,0-10.923-2.091-15.083-6.251c-8.341-8.341-8.341-21.824,0-30.165
                  L289.835,256l-91.584-91.584c-8.341-8.341-8.341-21.824,0-30.165s21.824-8.341,30.165,0l106.667,106.667
                  C343.424,249.259,343.424,262.741,335.083,271.083z"
                />
              </g>
            </g>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
